WP_DB_NAME=wp_practice
WP_DB_USER=wp_user
WP_DB_PASSWORD=change_me_local_only
MYSQL_ROOT_PASSWORD=change_me_local_only

WP_NEW_DB_NAME=wp_practice_new
WP_NEW_DB_USER=wp_user_new
WP_NEW_DB_PASSWORD=change_me_local_only
MYSQL_NEW_ROOT_PASSWORD=change_me_local_only
